checkpoint/
.vscode/
datasets/
logs/
training_logs/
trainning_logs/
workdir/

**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/*.pkl
**/*.pkl.gz

__pycache__/

MMEB-Datasets/*

mmeb_kodak_training/*
mmeb_kodak_training_logs/*


eval_results/*
evaluation/*


mmeb_kodak_training/
mmeb_kodak_training_logs/


mmeb_training/

mmeb_training_logs/

mmeb_condition_training_logs/
mmeb_condition_training/

ConSwinjscc_evaluation
ConSwinjscc_evaluation_logs


best_model/
vector_reconstruction_save_path/
vector_reconstruction/
Swinjscc_evaluation/
Swinjscc_evaluation_logs/